@import "variables";

$app-custom-primary: (
  500: $secondary,
  // $secondary
    700: $secondary-active,
  // $secondary-active
    contrast:
    (
      500: $light-primary-text,
      700: $light-primary-text,
    ),
);

$app-custom-secondary: (
  500: $primary,
  // $primary
    700: $primary-active,
  // $primary-active
    contrast:
    (
      500: $light-primary-text,
      700: $light-primary-text,
    ),
);

$app-custom-warn: (
  500: #ff574d,
  700: #dd4b47,
  contrast: (
    500: $light-primary-text,
    700: $light-primary-text,
  ),
);
